.wrapper {
  display: flex;
  column-gap: 10px;
}

.title {
  max-width: 75px;
  width: 100%;
  text-transform: capitalize;
}

.title::after {
  content: ':';
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.radio {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.radio:checked {
  background-color: #000;
  border: 3px solid #fff;
}

.label {
  text-transform: capitalize;
}

.colors {
  display: flex;
  column-gap: 10px;
}

.color {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color:checked {
  border: 2px solid white;
}
