.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 30px;
}

.title {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    padding-top: 15px;
  }

  .options {
    padding-left: 10px;
  }

  .title {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    border-left: none;
    border-top: 1px solid #fff;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 14px;
  }
}
