@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #202020;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 36px;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 32px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .button {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 6px 24px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .button {
    padding: 6px 20px;
    font-size: 12px;
  }
}
