.wrapper {
  background-color: #000;
}

.box {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/welcome-bg.jpg');
}

@media (max-width: 1440px) {
  .box {
    background-position: bottom;
  }
}
