.title {
  padding-left: 30px;
}

.box {
  position: relative;
  margin-left: 20px;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
}

.items {
  list-style: none;
}

.itemTitle::after {
  content: ': $';
}

.reset {
  position: absolute;
  right: 10px;
  top: 10px;
}

.price {
  margin-top: 20px;
  margin-left: auto;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title,
  .price {
    font-size: 16px;
  }

  .items {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .title {
    padding-left: 10px;
  }

  .box {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .title,
  .price {
    font-size: 14px;
  }

  .items {
    font-size: 12px;
  }
}
