.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  width: 76px;
}

.logo:hover {
  cursor: pointer;
}

.logoTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menuItem {
  list-style: none;
}

.menuItem:hover {
  cursor: pointer;
  text-decoration: underline;
}
