.box {
  border-top: 1px solid #fff;
  padding: 50px 10px;
}

.footerTop {
  display: flex;
  align-items: flex-start;
  column-gap: 100px;
  margin-bottom: 30px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footerBot {
  display: flex;
  column-gap: 20px;
  text-align: center;
}

.copyright {
  margin-left: auto;
}

@media (max-width: 900px) {
  .footerTop {
    column-gap: 50px;
  }

  .footerBot {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footerLogo {
    max-width: 150px;
  }

  .infoWrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  .linksList {
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
  }

  .footerBot {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .box {
    padding: 30px 5px;
  }

  .footerLogo {
    max-width: 130px;
  }

  .footerTop {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .footerBot {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .footerBot {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 12px;
  }

  .copyright {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .footerLogo {
    max-width: 100px;
  }
}
