.box {
  border-top: 1px solid #fff;
  padding: 50px 10px;
}

.footerUpper {
  display: flex;
  align-items: flex-start;
  column-gap: 50px;
  margin-bottom: 30px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.infoBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.infoTitle {
  font-weight: bold;
  text-transform: capitalize;
}

.linksList {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.infoLinks {
  font-size: 12px;
}

.footerBottom {
  display: flex;
  column-gap: 20px;
}

.copyright {
  margin-left: auto;
}

@media (max-width: 768px) {
  .footerLogo {
    max-width: 150px;
  }

  .infoWrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  .linksList {
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
  }

  .footerBottom {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .box {
    padding: 30px 5px;
  }

  .footerLogo {
    max-width: 130px;
  }

  .footerUpper {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .footerBottom {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footerLogo {
    max-width: 100px;
  }

  .footerBottom {
    font-size: 10px;
  }
}
