.constructor {
  display: flex;
  justify-content: center;
  column-gap: 75px;
  margin-bottom: 50px;
  padding: 40px 0;
  background-color: #252525;
  border-radius: 30px;
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40%;
  row-gap: 20px;
  border-left: 1px solid #fff;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .constructor {
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 30px;
  }

  .additional {
    border-left: none;
    border-top: 1px solid #fff;
  }
}

@media (max-width: 600px) {
  .constructor {
    row-gap: 0;
  }
}

@media (max-width: 425px) {
  .additional {
    row-gap: 10px;
  }
}
