.constructor {
  display: flex;
  justify-content: center;
  column-gap: 75px;
  margin-bottom: 50px;
  padding: 40px 0;
  background-color: #252525;
  border-radius: 30px;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .constructor {
    column-gap: 40px;
  }
}

@media (max-width: 650px) {
  .constructor {
    column-gap: 30px;
  }
}

@media (max-width: 600px) {
  .constructor {
    flex-direction: column;
    padding: 20px 30px;
  }
}
