.wrapper {
  flex-basis: 40%;
}

.img {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.box {
  padding: 0 20px;
}

.title {
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.itemTitle {
  margin-right: 10px;
  font-weight: bold;
}

.item {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .item {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    flex-basis: fill;
    padding-bottom: 15px;
  }

  .box {
    padding: 0 10px;
  }
}

@media (max-width: 425px) {
  .img {
    margin-bottom: 10px;
  }

  .title {
    font-size: 14px;
  }

  .item {
    font-size: 12px;
  }
}
